#game
  %canvas#canvasBg{width: 900, height: 600}
  #overlapping
    %canvas#canvasEntities{width: 900, height: 600}

#users
  %span.block Waiting Oponent...

= javascript_tag do
  window.game_id = #{@game.id};


