body {
  background: #202020;
}

#game {
  float: left;
}

canvas {
  display: block;
  width: 900px;
  height: 600px;
}

#background {
  background: #ffffff;
}

#overlapping canvas {
  margin: -600px 0 0;
}

#users {
  float: left;
  width: 280px;
  padding: 0 10px;
}

.user {
  color: white;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

.clr {
  clear: both;
}
